@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('/fonts/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
  font-display: swap;
  font-weight: 400; /* normal */
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('/fonts/NHaasGroteskTXPro-65Md.ttf') format('truetype');
  font-display: swap;
  font-weight: 500; /* medium weight for example */
  font-style: normal;
}

/* Relax */
@keyframes breatheAnimationRelax {
  0%, 100% {
    width: 0;
    height: 0;
  }
  25%, 50% {
    width: 224px;
    height: 224px;
  }
  75% {
    width: 0;
    height: 0;
  }
}

.animate-breathe-relax {
  animation: breatheAnimationRelax 16s infinite;
}

/* Energy */
@keyframes breatheAnimationEnergy {
  0% {
    width: 0;
    height: 0;
  }
  22.22% {  /* Breathe in complete */
    width: 224px;
    height: 224px;
  }
  33.33% {  /* 22.22 + 11.11 (Hold after breathe in) */
    width: 224px;
    height: 224px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

.animate-breathe-energy {
  animation: breatheAnimationEnergy 9s infinite;
}

/* Sleep */
@keyframes breatheAnimationSleep {
  0% {
    width: 0;
    height: 0;
  }
  21.05% {  /* Breathe in complete */
    width: 224px;
    height: 224px;
  }
  57.89% {  /* 21.05 + 36.84 */
    width: 224px;
    height: 224px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

.animate-breathe-sleep {
  animation: breatheAnimationSleep 19s infinite;
}




/* Common style to ensure the div shrinks from the right */
.inner-div {
  transform-origin: left;
  animation-timing-function: linear; 
}

@keyframes meditateShrink {
  to {
    transform: translateX(-100%);
  }
}

.meditate-5m {
  animation: meditateShrink calc(60*5s)forwards;
}

.meditate-10m {
  animation: meditateShrink calc(60*10s) forwards;
}

.meditate-15m {
  animation: meditateShrink calc(60*15s) forwards;
}

.meditate-20m {
  animation: meditateShrink calc(60*20s) forwards;
}

.meditate-30m {
  animation: meditateShrink calc(60*30s) forwards;
}

.meditate-60m {
  animation: meditateShrink calc(60*60s) forwards;
}








:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Neue Haas Grotesk', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

