/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NHaasGroteskTXPro-55Rg.ttf") format("truetype");
  font-display: swap;
  font-weight: 400; /* normal */
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NHaasGroteskTXPro-65Md.ttf") format("truetype");
  font-display: swap;
  font-weight: 500; /* medium weight for example */
  font-style: normal;
}

.editable-div::before {
  content: "...";
  display: inline-block;
  opacity: 0.6;
  pointer-events: none; /* make sure the pseudo-element doesn't interfere with editing */
  position: absolute;
}

.editable-div.active::before {
  content: "";
}

body {
  font-family: "Neue Haas Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff7ed;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.dark-theme {
  background-color: #27272a;
  color: #fff7ed;
}

.light-theme {
  background-color: #fff7ed;
  color: #27272a;
}

.bg-light-background {
  background-color: #fff7ed;
}

.text-light-text {
  color: #fff7ed;
}

.bg-dark-background {
  background-color: #27272a;
}

.text-dark-text {
  color: #27272a;
}
